body{
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.container-xxl{
  margin: 100px 120px 10px 120px;
}

.con-pic{
  width: 50%;
  height: auto;
}

.con-pic .pic-l{
  float: left;
}

.pr-title{
  /*background-color: yellow;*/
  /*padding-bottom: 30px;*/
}

.pr-content{
  padding: 30px;
}

.video-container{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.footer{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: small;
  text-align: center;
}
